<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <add name="php" path="*.php" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files (x86)\PHP\php5isapi.dll" resourceType="Unspecified" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
