/*******************POP UP BOX************************/
#mask {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 999;
}
.login-popup {
    background: none repeat scroll 0 0 rgb(0, 0, 0);
    border: 2px solid rgb(117, 117, 117);
  /*  border-radius: 13px;*/
    box-shadow: 0 0 20px rgb(153, 153, 153);
    float: left;
    font-size: 1.2em;
    left: 0;
    margin: auto;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 16%;
    width: 60%;
    z-index: 999999;
	display:none;
}
.popup-window {
  color: #646464;
  font-family: 'pt_sansregular',sans-serif;
  text-decoration:underline;
 }
.popup-window:hover {
  color: #646464;
  font-family: 'pt_sansregular',sans-serif; 
  text-decoration:none;
 }
img.btn_close {
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -18px;
  top: -23px;
  z-index: 99999;
}
fieldset {
	border: none;
}
form.signin .textbox label {
	display: block;
	padding-bottom: 7px;
}
form.signin .textbox span {
	display: block;
}
form.signin p, form.signin span {
	color: #999;
	font-size: 11px;
	line-height: 18px;
}
form.signin .textbox input {
	background: #666666;
	border-bottom: 1px solid #333;
	border-left: 1px solid #000;
	border-right: 1px solid #333;
	border-top: 1px solid #000;
	color: #fff;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 6px 6px 4px;
	width: 200px;
}
 form.signin input:-moz-placeholder {
color:#bbb;
text-shadow:0 0 2px #000;
}
 form.signin input::-webkit-input-placeholder {
color:#bbb;
text-shadow:0 0 2px #000;
}
.button {
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
	background: -o-linear-gradient(top, #f3f3f3, #dddddd);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
	border-color: #000;
	border-width: 1px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	padding: 6px 6px 4px;
	margin-top: 10px;
	font: 12px;
	width: 214px;
}
.button:hover {
	background: #ddd;
}
  

@media only screen and (min-width:801px) and (max-width:1001px){
.login-popup {
	width:85%;
}

.social_box2 {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -4px;
    top: 68px;
    width: 33%;
}

.login-popup h1 {
    display: block;
    font-size: 24px;
    margin: 0;
    padding: 0 0 8px;
}

.login-popup h2 {
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 0 0 8px;
}
  
.scl_plan {
    padding: 8px;
    width: 64%;
}

.scl_plan_rt {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 91%;
}

.cnt {
    font-size: 15px;
    padding: 4px 0;
    width: 32% !important;
}

a.close {
    background: none;
    right: 11px;
    top: 11px;
}

.social_box2_Inr {
    display: block;
    margin: 0;
    padding: 8px;
    position: relative;
} 

.fst_div {
    border-bottom: 1px dotted #D2D2D2;
    display: block;
    margin: 0;
    padding: 0 0 15px;
}

.fst_div_one {
    float: none;
}

.fst_div_two {
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
}


.fst_div_three {
    color: #444444;
    display: block;
    float: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px 0 0;
    text-align: center;
    width: auto;
}
.tick ul {
    display: block;
    margin: 0;
    padding: 0;
}

.tick ul li {
    font-size: 12px;
}

.sltd {
    width: 90%;
}
}

@media only screen and (min-width:765px) and (max-width:800px){
	.login-popup {
	width:85%;
}

.social_box2 {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -4px;
    top: 68px;
    width: 33%;
}

.login-popup h1 {
    display: block;
    font-size: 24px;
    margin: 0;
    padding: 0 0 8px;
}

.login-popup h2 {
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 0 0 8px;
}
  
.scl_plan {
    padding: 8px;
    width: 64%;
}

.scl_plan_rt {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 91%;
}

.cnt {
    font-size: 15px;
    padding: 4px 0;
    width: 32% !important;
}

a.close {
    background: none;
    right: 11px;
    top: 11px;
}

.social_box2_Inr {
    display: block;
    margin: 0;
    padding: 8px;
    position: relative;
} 

.fst_div {
    border-bottom: 1px dotted #D2D2D2;
    display: block;
    margin: 0;
    padding: 0 0 15px;
}

.fst_div_one {
    float: none;
}

.fst_div_two {
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
}


.fst_div_three {
    color: #444444;
    display: block;
    float: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px 0 0;
    text-align: center;
    width: auto;
}
.tick ul {
    display: block;
    margin: 0;
    padding: 0;
}

.tick ul li {
    font-size: 12px;
}

.sltd {
    width: 90%;
}
}
 
@media only screen and (min-width:651px) and (max-width:764px) {


.login-popup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 20px #999999;
    float: left;
    font-size: 1.2em;
    left: 0;
    margin: auto;
    max-height: 90%;
    overflow: auto;
    padding: 0 10px 10px 0;
    position: fixed;
    right: 0;
    z-index: 999999;
}
.login-popup {
	width:85%;
	top:2%;
}
.pop_div {
    color: #3C599D;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: auto;
    margin: 0;
    padding: 0 10px;
    position: relative;
}
.login-popup {
	width:85%;
}
.social_box2 {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -4px;
    top: 68px;
    width: 33%;
}

.login-popup h1 {
    display: block;
    font-size: 24px;
    margin: 0;
    padding: 0 0 8px;
}

.login-popup h2 {
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 0 0 8px;
}
  
.scl_plan {
    padding: 8px;
    width: 64%;
}

.scl_plan_rt {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 91%;
}

.cnt {
    font-size: 15px;
    padding: 4px 0;
    width: 32% !important;
}

a.close {
    background: none;
    right: 11px;
    top: 11px;
}

.social_box2_Inr {
    display: block;
    margin: 0;
    padding: 8px;
    position: relative;
} 

.fst_div {
    border-bottom: 1px dotted #D2D2D2;
    display: block;
    margin: 0;
    padding: 0 0 15px;
}

.fst_div_one {
    float: none;
}

.fst_div_two {
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
}


.fst_div_three {
    color: #444444;
    display: block;
    float: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px 0 0;
    text-align: center;
    width: auto;
}
.tick ul {
    display: block;
    margin: 0;
    padding: 0;
}

.tick ul li {
    font-size: 12px;
}

.sltd {
    width: 90%;
}

.snd_div {
    border-bottom: 1px dotted #D2D2D2;
    color: #444444;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}
}

@media only screen and (min-width:526px) and (max-width:650px){
.login-popup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 20px #999999;
    float: left;
    font-size: 1.2em;
    left: 0;
    margin: auto;
    max-height: 90%;
    overflow: auto;
    padding: 0 10px 10px 0;
    position: fixed;
    right: 0;
    z-index: 999999;
}
.login-popup {
	width:85%;
	top:2%;
}
.pop_div {
    color: #3C599D;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: auto;
    margin: 0;
    padding: 0 10px;
    position: relative;
}

.social_box2 {
    display: block;
    float: none;
    left: inherit;
    margin:70px auto 15px;
    padding: 0;
    position: relative;
    right: inherit;
    top: inherit;
    width: 100%;
}



  
.scl_plan {
    padding: 5px;
    width: 98%;
}


.scl_plan_rt {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    width: 90%;
}


.cnt {
    font-size: 15px;
    padding: 4px 0;
    position: relative;
    width: 100% !important;
}




a.close {
    background: none repeat scroll 0 0 transparent;
    height: 25px;
    left: 0;
    right: inherit;
    top: 0;
    width: 25px;
    z-index: 99999;
}
img.btn_close {
    height: auto;
    left: 0;
    position: absolute;
    right: inherit;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.social_box2_Inr {
    display: block;
    margin: 0;
    padding: 5px;
    position: relative;
} 

.fst_div {
    border-bottom: 1px dotted #D2D2D2;
    display: block;
    margin: 0;
    padding: 0 0 15px;
}

.pop_div p {
    color: #775B74;
    display: block;
    font-size: 11px;
    margin: 0;
    padding: 8px 0;
}
.scl_plan_rt_top > h3 {
    color: #355296 !important;
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
}

.fst_div_one {
    float: none;
    padding: 0;
}

.fst_div_two span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 3px;
    text-align: center;
}

.fst_div_two {
    float: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: auto;
}


.tick ul li span {
    color: #444444;
    font-size: 11px;
}

.fst_div_three {
    color: #444444;
    display: block;
    float: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto;
    padding: 3px 0 0;
    text-align: center;
    width: auto;
}.tick ul {
    display: block;
    margin: 0;
    padding: 0;
}

.tick ul li {
    font-size: 12px;
    margin: 0;
}

.sltd {
    width: 100%;
}


.snd_div {
    border-bottom: 1px dotted #D2D2D2;
    color: #444444;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    vertical-align: middle;
}

.snd_div .fb5 {
    color: #3C599D;
    display: block;
    font-size: 24px;
    font-weight: bold;
}
.scl_plan_lt {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 20px;
}


.login-popup h1 {
    display: block;
    font-size: 20px;
    left: 0;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -65px;
}


.login-popup h2 {
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 0 0 8px;
    position: absolute;
    text-align: center;
    top: -40px;
}
}
@media only screen and (max-width:525px){
.login-popup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 20px #999999;
    float: left;
    font-size: 1.2em;
    left: 0;
    margin: auto;
    max-height: 90%;
    overflow: auto;
    padding: 0 10px 10px 0;
    position: fixed;
    right: 0;
    z-index: 999999;
}
.login-popup {
	width:85%;
	top:2%;
}
.pop_div {
    color: #3C599D;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: auto;
    margin: 0;
    padding: 0 10px;
    position: relative;
}

.social_box2 {
    display: block;
    float: none;
    left: inherit;
    margin:70px auto 15px;
    padding: 0;
    position: relative;
    right: inherit;
    top: inherit;
    width: 100%;
}



  
.scl_plan {
    padding: 5px;
    width: 98%;
}


.scl_plan_rt {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    width: 90%;
}


.cnt {
    font-size: 15px;
    padding: 4px 0;
    position: relative;
    width: 100% !important;
}




a.close {
    background: none repeat scroll 0 0 transparent;
    height: 25px;
    left: 0;
    right: inherit;
    top: 0;
    width: 25px;
    z-index: 99999;
}
img.btn_close {
    height: auto;
    left: 0;
    position: absolute;
    right: inherit;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.social_box2_Inr {
    display: block;
    margin: 0;
    padding: 5px;
    position: relative;
} 

.fst_div {
    border-bottom: 1px dotted #D2D2D2;
    display: block;
    margin: 0;
    padding: 0 0 15px;
}

.pop_div p {
    color: #775B74;
    display: block;
    font-size: 11px;
    margin: 0;
    padding: 8px 0;
}
.scl_plan_rt_top > h3 {
    color: #355296 !important;
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
}

.fst_div_one {
    float: none;
    padding: 0;
}

.fst_div_two span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 3px;
    text-align: center;
}

.fst_div_two {
    float: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: auto;
}


.tick ul li span {
    color: #444444;
    font-size: 11px;
}

.fst_div_three {
    color: #444444;
    display: block;
    float: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto;
    padding: 3px 0 0;
    text-align: center;
    width: auto;
}.tick ul {
    display: block;
    margin: 0;
    padding: 0;
}

.tick ul li {
    font-size: 12px;
    margin: 0;
}

.sltd {
    width: 100%;
}


.snd_div {
    border-bottom: 1px dotted #D2D2D2;
    color: #444444;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    vertical-align: middle;
}

.snd_div .fb5 {
    color: #3C599D;
    display: block;
    font-size: 24px;
    font-weight: bold;
}
.scl_plan_lt {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 20px;
}


.login-popup h1 {
    display: block;
    font-size: 20px;
    left: 0;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -65px;
}


.login-popup h2 {
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 0 0 8px;
    position: absolute;
    text-align: center;
    top: -40px;
}
}