body {
}
.div1600
{
    width: 100%;
    overflow: hidden;
}

.h2green {font-family:'Source Sans Pro';font-weight: 600;font-size:15pt;color: #3e9f7b;}

.link_green {font-family:'Source Sans Pro';font-weight: 600;color: #333333;}
.link_green:hover {font-family:'Source Sans Pro';font-weight: 600;color: #3e9f7b;}

.stagione_select{color:#3e9f7b;text-decoration:none;}
.stagione_select:hover{color:#3e9f7b;}


.div960 {
    width:960px;
    margin: auto;
}
.sliderElement {
    height:702px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.slogan
{
    font-family:'Source Sans Pro';
    font-weight: 600;
    color: #fff;
    font-size: 55pt;
    margin-top:88px;
    font-style: italic;
    text-shadow:2px 2px 2px rgba(0,0,0,0.4);
    height: 295px;
}
.slogan span
{
    font-family:'Source Sans Pro';
    font-weight: 200;
    color: #fff;
    font-size: 55pt;
    font-style: italic;
    text-shadow:2px 2px 2px rgba(0,0,0,0.4);
}
.barraMenu
{
    position: relative;
    z-index: 2000;
    margin-top: 80px;
    width:100%;
    height:128px;
    background-image: url('../gfx/opaco.png');
}
.logo {
    float: left;
    width:300px;
    height:104px;
    padding-top:24px;
    background-color:#3e9f7b;
    text-align: center;
}
.ulMenu {
    margin-top: 55px;
}
.ulMenu li
{
    float: left;
    font-family:'Source Sans Pro';
    font-weight: 600;
    color: #3e9f7b;
    font-size: 14pt;
    padding-left: 20px;
}
.ulMenu li a
{
    font-family:'Source Sans Pro';
    font-weight: 600;
    color: #3e9f7b;
    font-size: 14pt;
    text-decoration: none;
}
.fotoHome
{
    border: 13px solid #fff9f3;
    position: absolute;
    z-index: 2000;
    top: -60px;
}
.testohome
{
    float: right; 
    padding-top: 20px;
    width:540px;
    font-family: Arial;
    font-size: 11pt;
    color: #797979;
    line-height: 20px;
}
.testohome h1
{
    margin-bottom: 5px;
    line-height: normal;
    font-family:'Source Sans Pro';
    font-weight: 600;
    font-size:20pt;
    color: #3e9f7b;
}
.testohome h2
{
    margin-bottom: 20px;
    line-height: normal;
    font-family:'Source Sans Pro';
    font-weight: 600;
    font-size:13pt;
    color: #656565;
}
.testiLunghi {
    padding-top: 40px;
    font-family: Arial;
    font-size: 11pt;
    color: #797979;
    line-height: 20px;
}
    .testiLunghi h1 {
        line-height: normal;
        font-family:'Source Sans Pro';
        font-weight: 600;
        font-size:20pt;
        color: #3e9f7b;
        text-align: center;
    }
    .testiLunghi h2 {
        line-height: normal;
        font-family:'Source Sans Pro';
        font-weight: 600;
        font-size:13pt;
        color: #656565;
        text-align: center;
        margin-bottom: 20px;
    }
.barraMarrone
{
    width: 100%;
    background-image: url('../gfx/opaco2.png');
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 35px;
}
.boxHome {
    display: block;
    text-decoration: none;
    float: left;
    width: 303px;
}
    .boxHome h1 {
        margin-bottom: 5px;
        margin-top: 5px;
        line-height: normal;
        font-family:'Source Sans Pro';
        font-weight: 600;
        font-size:17pt;
        color: #3e9f7b;
        text-align: center;
    }
    .boxHome h2 {
        line-height: normal;
        font-family:'Source Sans Pro';
        font-weight: 600;
        font-size:10pt;
        color: #656565;
        text-align: center;
    }
.prenota {
    background-color: #3e9f7b;
    padding: 20px;
    margin-top: 50px;
}
    .prenota h1 {
        font-family:'Source Sans Pro';
        font-weight: 600;
        font-size:20pt;
        color: #fff;
        text-align: center;
    }
.btnVerde {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family:'Source Sans Pro';
    font-weight: 600;
    font-size:15pt;
    color: #fff;
    text-align: center;
    background-color: #0f573c;
    text-decoration: none;
    border-radius: 3px;
}
.tabPrenota {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
    .tabPrenota td {
        vertical-align: middle;
        font-family:'Source Sans Pro';
        font-weight: 400;
        font-size:15pt;
        color: #fff;
    }
        .tabPrenota td input[type=text] {
            border: 0px;
            background-color: #fff;
            padding: 15px;
            background-image: url('../gfx/calendario.png');
            background-repeat: no-repeat;
            background-position: 140px;
        }
.bestBooking {
    text-align: center;
    padding-top: 20px;
    color: #737373;
    font-size: 11pt;
    margin-bottom:40px;
}
.footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3e9f7b;
    color: #0d4530;
    font-family: Arial;
    margin-top: 45px;
}
.ulfooter {
    margin-bottom: 30px;
}
.ulfooter li {
    float: right;
    text-align:right;
    padding-left: 40px;
    font-family:'Source Sans Pro';
    font-weight: 400;
    font-size:13pt;
    color: #fff;
}
.ulfooter li a {
    font-family:'Source Sans Pro';
    font-weight: 400;
    font-size:13pt;
    color: #fff;
    text-decoration: none;
}
.imgc img {
    margin: 5px;
}
.boxServizi {
    color: #6d6d6d;
    font-family: Arial;
    font-size: 11pt;
    line-height: 25px;
}
    .boxServizi h1 {
        margin-bottom: 20px;
        margin-top: 20px;
        font-family:'Source Sans Pro';
        font-weight: 600;
        font-size:25pt;
        color: #3e9f7b;
    }
.boxOfferta {
    color: #6d6d6d;
    font-family: Arial;
    font-size: 11pt;
    line-height: 25px;
}
    .boxOfferta h1 {
        margin-bottom: 20px;
        margin-top: 0px;
        font-family:'Source Sans Pro';
        font-weight: 600;
        font-size:25pt;
        color: #3e9f7b;
    }
    .boxOfferta b {
        color: #3e9f7b;
    }
.spanPrezzo {
    font-family:'Source Sans Pro';
    font-weight: 600;
    font-size:35pt;
    color: #3e9f7b;
}
.btnPrenota {
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3e9f7b;
    color: #fff;
    font-family:'Source Sans Pro';
    font-weight: 600;
    font-size:18pt;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
.h1Contatti {
    font-family:'Source Sans Pro';
    font-weight: 600;
    font-size:25pt;
    color: #3e9f7b;
    margin-bottom: 20px;
}
.contattiSx {
    color: #6d6d6d;
    font-family: Arial;
    font-size: 11pt;
    line-height: 25px;
}
    .contattiSx span {
        color: #3e9f7b;
    }
.contattiDx {
    padding: 20px;
    color: #6d6d6d;
    font-family: Arial;
    font-size: 11pt;
    line-height: 25px;
}
.privacy {
    font-size: 8pt;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    height: 50px;
    padding: 20px;
}
.contattiDx input[type=text] {
    width: 100%;
    border: 0px;
    height: 40px;
    background-color: #e4e0de;
    margin-bottom: 10px;
}
.contattiDx textarea {
    width: 100%;
    border: 0px;
    height: 160px;
    background-color: #e4e0de;
    margin-bottom: 20px;
}
.ajax__calendar_days td {
    color: #000 !important;
}
.boxLingue {
    width:300px;
    height:23px;
    padding-top: 5px;
    background-image: url('../gfx/bg_lang.png');
    background-repeat:no-repeat;
    position: absolute;
    right: 10px;
    top: -88px;
    z-index: 3000;
    text-align: center;
}
.boxLingue a
{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-size: 11pt;
}

/*PREZZI SKI */
.header_prezzi{background-color:#3e9f7b;padding:20px;font-weight:bold;color:#FFFFFF;}
.header_prezzi2{background-color:#3e9f7b;padding:20px;font-weight:bold;color:#FFFFFF;text-align:center;}
.item_prezzi{padding:15px 20px;text-align:center;width:100px;}
.item_prezzi2{padding:10px 20px;text-align:left;width:350px;font-weight:bold;color:#333333;}
.item_prezzi3{padding:15px 20px;text-align:left;width:190px;}
.item_prezzi4{padding:10px 20px;text-align:center;width:230px;font-weight:bold;color:#333333;}
.item_prezzi5{padding:15px 20px;text-align:center;width:230px;font-weight:bold;color:#333333;background-color:#fc9e0c;}
.alter_prezzi2{padding:15px 20px;text-align:center;width:230px;font-weight:bold;color:#333333;background-color:#eeeeee;height:30px;}
.item_prezzi6{padding:10px 20px;text-align:center;width:230px;font-weight:bold;color:#333333;height:30px;}
.alter_prezzi{background-color:#eeeeee;}
.bar_prezzi{text-align:center;padding:10px;color:#3e9f7b;line-height:1.6;}
.servizio_prezzi{float:left;width:780px;padding:15px 10px;line-height:1.6;}
.prezzo_prezzi{float:right;width:120px;text-align:right;padding:32px 20px 0 20px;}



/*
    WEBTEK
*/


.webtek-container {
    position: relative;
}

.webtek-container .slider-webtek img {
    height: 70vh;
    object-fit: cover;
    object-position: center center;
    font-family: 'object-fit: cover; object-position: center center;';
    width: 100vw;
}

.webtek-container .webtek-logo-client-container {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    /*background-color:white;*/
}

.webtek-container .webtek-logo-client-container img {
    display: none;
}

.webtek-container .webtek-lateral-panel {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 605px;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.webtek-container .webtek-lateral-panel[data-hide='true'] {
    transform: translate(605px,0);
}

.webtek-container .webtek-lateral-panel .description-container {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    text-align: right;
}

.webtek-container .webtek-lateral-panel .description-container .title-container {
    padding-bottom: 10px;
}

    .webtek-container .webtek-lateral-panel .description-container .title-container h1 {
        font-size: 35px;
        color: #3e9f7b;
        font-weight: 700;
    }

.webtek-container .webtek-lateral-panel .description-container p {
    font-size: 17px;
    line-height: 22px;
}

    .webtek-container .webtek-lateral-panel .description-container p a {
        text-decoration: none;
        color: #3e9f7b;
    }

.webtek-container .webtek-lateral-panel .description-container .button-container {
    padding: 30px 0px 10px 0px;
    text-align: right;
    width: 100%;
}

    .webtek-container .webtek-lateral-panel .description-container .button-container a {
        color: #fff;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        width: 175px;
        background-color: #3e9f7b;
    }

.webtek-container .webtek-lateral-panel .description-container .button-container a .button-webtek {
    width: 100%;
    margin-left: auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

@media screen and (max-width:1279px) {

.webtek-container .slider-webtek img {
    height: 400px;
}

.webtek-container .webtek-lateral-panel {
    position: static;
    top: initial;
    left: initial;
    right: initial;
    transform: none;
    width: 100%;
}

.webtek-container .webtek-lateral-panel .description-container {
    position: static;
    top: initial;
    left: initial;
    right: initial;
    transform: none;
    width: calc(100% - 100px);
    text-align: center;
    padding: 50px;
}

.webtek-container .webtek-lateral-panel .description-container .button-container {
    text-align: center;
}

.webtek-container .webtek-lateral-panel .description-container .button-container a {
    margin: auto;
}
}

@media screen and (max-height: 959px) {

.webtek-container .slider-webtek img {
    height: 400px;
}

.webtek-container .webtek-lateral-panel {
    position: static;
    top: initial;
    left: initial;
    right: initial;
    transform: none;
    width: 100%;
}

.webtek-container .webtek-lateral-panel .description-container {
    position: static;
    top: initial;
    left: initial;
    right: initial;
    transform: none;
    width: calc(100% - 100px);
    text-align: center;
    padding: 50px;
}

.webtek-container .webtek-lateral-panel .description-container .button-container {
    text-align: center;
}

.webtek-container .webtek-lateral-panel .description-container .button-container a {
    margin: auto;
}
}